# Pandas exercises

Exercises taken from [101 Pandas exercises for data analysis](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

1. How to import pandas and check the version?

In [2]:
# 1

import pandas as pd

pd.__version__ # check version attribute

'1.4.4'

2. How to create a series from a list, numpy array and dict?

In [6]:
import numpy as np

# input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# use the Series() function to do this
mylist_series = pd.Series(mylist)
myarr_series = pd.Series(myarr)
mydict_series = pd.Series(mydict)

new_series = [mylist_series, myarr_series, mydict_series] # collection of the new series objects
print(list(map(type, new_series)))

[<class 'pandas.core.series.Series'>, <class 'pandas.core.series.Series'>, <class 'pandas.core.series.Series'>]

3. How to convert the index of a series into a column of a dataframe?
Convert the series ser into a dataframe with its index as another column on the dataframe.

In [12]:
# input

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# use to_frame() function to convert to DataFrame and chain .reset_index() to reset the index
df = ser.to_frame().reset_index()

4. How to combine many series to form a dataframe?
Combine ser1 and ser2 to form a dataframe.

In [36]:
# input
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# use pd.DataFrame 

df = pd.DataFrame({'col_1' : ser1,'col_2' : ser2})

5. How to assign name to the series’ index?
Give a name to the series ser calling it ‘alphabets’.

In [42]:
# input

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

# use .series.rename()

ser.rename('alphabets')

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?
From ser1 remove items present in ser2.

In [59]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# method 1 is to convert the series to Sets 
set(ser1) - set(ser2)

# method 2 use isin and ~ to subset everything without the items that are shared between the series
ser1[ser1.isin(ser2)] # gets the elements that are shared

ser1_only = ser1[~ser1.isin(ser2)] # everything except the elements that are shared

7. How to get the items not common to both series A and series B?

In [15]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# get the union (A,B or both), and the intersect (Only in both) and remove the shared values by filtering out all the values that are in the intersect
union_ = pd.Series(np.union1d(ser1, ser2)) 
intersect_ = pd.Series(np.intersect1d(ser1, ser2))
not_common = union_[~union_.isin(intersect)]
not_common

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64